In [1]:
import pandas as pd
salesColNames = ['Week', 'DayOfWeek', 'DayName','Airplanes', 
                 'Sticks', 'Weather']
popUpIndex = ('Week', 'DayOfWeek')
salesFrame1 = pd.read_csv('PopUpSales.csv', 
                          names = salesColNames, index_col = popUpIndex)
salesFrame1

                  DayName  Airplanes              Sticks  Weather
Week DayOfWeek
Week DayOfWeek        Day  Airplanes  Imagination Sticks  Weather
4    0             Monday         89                  16      NaN
     1            Tuesday         19                   7      NaN
     2          Wednesday        118                   5      NaN
     3           Thursday         29                  40      NaN
     4             Friday         58                  11     Rain
     5           Saturday        193                  58     Nice
     6             Sunday         57                   9     Snow
5    0             Monday          5                   2      NaN
     1            Tuesday         10                   2     Rain
     2          Wednesday          6                   2     Snow
     3           Thursday         80                   5     Snow
     4             Friday        NaN                 NaN     Snow
     5           Saturday         98                  12     Snow
     6             Sunday        185                 116     Nice

In [2]:
salesFrame2 = salesFrame1.fillna({'Airplanes':0, 'Imagination Sticks': 0})
salesFrame2

                  DayName  Airplanes              Sticks  Weather
Week DayOfWeek
Week DayOfWeek        Day  Airplanes  Imagination Sticks  Weather
4    0             Monday         89                  16      NaN
     1            Tuesday         19                   7      NaN
     2          Wednesday        118                   5      NaN
     3           Thursday         29                  40      NaN
     4             Friday         58                  11     Rain
     5           Saturday        193                  58     Nice
     6             Sunday         57                   9     Snow
5    0             Monday          5                   2      NaN
     1            Tuesday         10                   2     Rain
     2          Wednesday          6                   2     Snow
     3           Thursday         80                   5     Snow
     4             Friday          0                 NaN     Snow
     5           Saturday         98                  12     Snow
     6             Sunday        185                 116     Nice

In [3]:
weatherColNames = ['Week', 'Day', 'DayOfWeek','Weather']
weatherFrame1 = pd.read_csv('PopUpWeather.csv', 
                          names = weatherColNames, index_col = popUpIndex)
weatherFrame1

                      Day  Weather
Week DayOfWeek
Week Day        DayOfWeek  Weather
4    Monday             0     Nice
     Tuesday            1     Rain
     Wednesday          2     Nice
     Thursday           3     Nice
     Friday             4     Rain
     Saturday           5     Nice
     Sunday             6     Snow
5    Monday             0     Nice
     Tuesday            1     Rain
     Wednesday          2     Nice
     Thursday           3     Nice
     Friday             4     Rain
     Saturday           5     Nice
     Sunday             6     Snow
     Monday             0     Nice
     Tuesday            1     Rain
     Wednesday          2     Nice

In [4]:
#replaces snow with Bad
weatherFrame1.replace({'Weather':'Snow'}, 'Bad')
weatherFrame1

                      Day  Weather
Week DayOfWeek
Week Day        DayOfWeek  Weather
4    Monday             0     Nice
     Tuesday            1     Rain
     Wednesday          2     Nice
     Thursday           3     Nice
     Friday             4     Rain
     Saturday           5     Nice
     Sunday             6     Snow
5    Monday             0     Nice
     Tuesday            1     Rain
     Wednesday          2     Nice
     Thursday           3     Nice
     Friday             4     Rain
     Saturday           5     Nice
     Sunday             6     Snow
     Monday             0     Nice
     Tuesday            1     Rain
     Wednesday          2     Nice

In [5]:
weatherFrame1.duplicated()  #The one with the index

Week  DayOfWeek
Week  Day          False
4     Monday       False
      Tuesday      False
      Wednesday    False
      Thursday     False
      Friday       False
      Saturday     False
      Sunday       False
5     Monday        True
      Tuesday       True
      Wednesday     True
      Thursday      True
      Friday        True
      Saturday      True
      Sunday        True
      Monday        True
      Tuesday       True
      Wednesday     True
dtype: bool

In [6]:
#This will have a different 'duplicated value' as it has no index
weatherFrame2 = pd.read_csv('PopUpWeather.csv', 
                         names = weatherColNames)
weatherFrame2.duplicated()  # no index

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16     True
17     True
dtype: bool

In [13]:
weatherFrame2.drop_duplicates(keep = 'first')

    Week        Day  DayOfWeek  Weather
0   Week  DayOfWeek        Day  Weather
1      4          0     Monday     Nice
2      4          1    Tuesday     Rain
3      4          2  Wednesday     Nice
4      4          3   Thursday     Nice
5      4          4     Friday     Rain
6      4          5   Saturday     Nice
7      4          6     Sunday     Snow
8      5          0     Monday     Nice
9      5          1    Tuesday     Rain
10     5          2  Wednesday     Nice
11     5          3   Thursday     Nice
12     5          4     Friday     Rain
13     5          5   Saturday     Nice
14     5          6     Sunday     Snow

In [7]:
days = ['Monday', 'Tuesday', 'Wednesday', 
                               'Thursday', 'Friday', 'Saturday', 'Sunday']
#weather = pd.DataFrame({'key':['0','1','2','3','4','5','6']}, weatherData)
#weather
salesFrame1['Weather']
#salesFrame1['Weather'].combine_first(weatherSeries)
#salesFrame2 = salesFrame1['Weather'].combine_first(weatherSeries)
#salesFrame2

Week  DayOfWeek
Week  DayOfWeek    Weather
4     0                NaN
      1                NaN
      2                NaN
      3                NaN
      4               Rain
      5               Nice
      6               Snow
5     0                NaN
      1               Rain
      2               Snow
      3               Snow
      4               Snow
      5               Snow
      6               Nice
Name: Weather, dtype: object

In [8]:
salesFrame2

                  DayName  Airplanes              Sticks  Weather
Week DayOfWeek
Week DayOfWeek        Day  Airplanes  Imagination Sticks  Weather
4    0             Monday         89                  16      NaN
     1            Tuesday         19                   7      NaN
     2          Wednesday        118                   5      NaN
     3           Thursday         29                  40      NaN
     4             Friday         58                  11     Rain
     5           Saturday        193                  58     Nice
     6             Sunday         57                   9     Snow
5    0             Monday          5                   2      NaN
     1            Tuesday         10                   2     Rain
     2          Wednesday          6                   2     Snow
     3           Thursday         80                   5     Snow
     4             Friday          0                 NaN     Snow
     5           Saturday         98                  12     Snow
     6             Sunday        185                 116     Nice