In [1]:
import numpy as np
import pandas as pd

In [2]:
airplanes= pd.Series(
    [89, 19, 118, 29, 58, 193, 57])

In [3]:
airplanes

0     89
1     19
2    118
3     29
4     58
5    193
6     57
dtype: int64

In [4]:
ImagSticks = {'Mon': 16, 'Tue': 7, 'Wed': 5, 'Thu': 40, 'Fri':11, 'Sat': 58, 'Sun':9}

In [5]:
ImagSticks

{'Fri': 11, 'Mon': 16, 'Sat': 58, 'Sun': 9, 'Thu': 40, 'Tue': 7, 'Wed': 5}

In [6]:
sticks = pd.Series(ImagSticks)

In [7]:
sticks

Fri    11
Mon    16
Sat    58
Sun     9
Thu    40
Tue     7
Wed     5
dtype: int64

In [8]:
airplanes= pd.Series(
    [89, 19, 118, 29, 58, 193, 57],
    index=['Mon', 'Tue', 'Wed', 
           'Thu', 'Fri', 'Sat', 'Sun'])

In [9]:
airplanes

Mon     89
Tue     19
Wed    118
Thu     29
Fri     58
Sat    193
Sun     57
dtype: int64

In [10]:
airplanes['Fri']

58

In [11]:
airplanes[4]

58

In [12]:
airplanes[4:]

Fri     58
Sat    193
Sun     57
dtype: int64

In [13]:
airplanes[::-1]

Sun     57
Sat    193
Fri     58
Thu     29
Wed    118
Tue     19
Mon     89
dtype: int64

In [14]:
airplanes.name = 'Paper Airplanes'

In [15]:
airplanes.index.name = 'Day'

In [16]:
airplanes

Day
Mon     89
Tue     19
Wed    118
Thu     29
Fri     58
Sat    193
Sun     57
Name: Paper Airplanes, dtype: int64

In [17]:
airplanes*2.5

Day
Mon    222.5
Tue     47.5
Wed    295.0
Thu     72.5
Fri    145.0
Sat    482.5
Sun    142.5
Name: Paper Airplanes, dtype: float64

In [18]:
 airplanes*2.5 + sticks*4.25

Fri    191.75
Mon    290.50
Sat    729.00
Sun    180.75
Thu    242.50
Tue     77.25
Wed    316.25
dtype: float64

In [19]:
money = pd.Series(airplanes*2.5 + sticks*4.25, 
                  index=['Sun', 'Mon', 'Tue', 'Wed', 
           'Thu', 'Fri', 'Sat'])

In [20]:
money

Sun    180.75
Mon    290.50
Tue     77.25
Wed    316.25
Thu    242.50
Fri    191.75
Sat    729.00
dtype: float64

In [21]:
money.mean()

289.7142857142857

In [22]:
money.median()

242.5

In [23]:
money.sum()

2028.0

In [24]:
airData = {'Airplanes':airplanes.values} 
airData

{'Airplanes': array([ 89,  19, 118,  29,  58, 193,  57], dtype=int64)}

In [25]:
Week4 = pd.DataFrame(airData, columns = ['Airplanes', 'Sticks'], index = airplanes.index)
Week4

     Airplanes Sticks
Day
Mon         89    NaN
Tue         19    NaN
Wed        118    NaN
Thu         29    NaN
Fri         58    NaN
Sat        193    NaN
Sun         57    NaN

In [26]:
Week4['Sticks'] = sticks

In [27]:
Week4['Airplanes']

Day
Mon     89
Tue     19
Wed    118
Thu     29
Fri     58
Sat    193
Sun     57
Name: Airplanes, dtype: int64

In [28]:
Week4['Airplanes']['Mon']

89

In [29]:
Week4.loc['Mon']

Airplanes    89
Sticks       16
Name: Mon, dtype: int64

In [30]:
Week4.loc['Mon']

Airplanes    89
Sticks       16
Name: Mon, dtype: int64

In [31]:
Week4['AirPrice'] = 2.5
Week4['StickPrice'] = 4.25

In [32]:
Week4

     Airplanes  Sticks  AirPrice  StickPrice
Day
Mon         89      16       2.5        4.25
Tue         19       7       2.5        4.25
Wed        118       5       2.5        4.25
Thu         29      40       2.5        4.25
Fri         58      11       2.5        4.25
Sat        193      58       2.5        4.25
Sun         57       9       2.5        4.25

In [33]:
weather = pd.Series(['Nice', 'Rain', 'Nice', 'Snow'], index = ['Thu', 'Fri', 'Sat', 'Sun'])
Week4['Weather'] = weather
Week4

     Airplanes  Sticks  AirPrice  StickPrice Weather
Day
Mon         89      16       2.5        4.25     NaN
Tue         19       7       2.5        4.25     NaN
Wed        118       5       2.5        4.25     NaN
Thu         29      40       2.5        4.25    Nice
Fri         58      11       2.5        4.25    Rain
Sat        193      58       2.5        4.25    Nice
Sun         57       9       2.5        4.25    Snow

In [34]:
Week4.name = "Sales for Week 4"

In [35]:
Week4

     Airplanes  Sticks  AirPrice  StickPrice Weather
Day
Mon         89      16       2.5        4.25     NaN
Tue         19       7       2.5        4.25     NaN
Wed        118       5       2.5        4.25     NaN
Thu         29      40       2.5        4.25    Nice
Fri         58      11       2.5        4.25    Rain
Sat        193      58       2.5        4.25    Nice
Sun         57       9       2.5        4.25    Snow

In [36]:
SalesWeek4_5 = pd.read_csv('PopUp Toy Store4_5.csv', index_col = ['Week','Day'])
SalesWeek4_5

                Airplanes  Imagination Sticks Weather
Week Day
4    Monday          89.0                16.0     NaN
     Tuesday         19.0                 7.0     NaN
     Wednesday      118.0                 5.0     NaN
     Thursday        29.0                40.0     NaN
     Friday          58.0                11.0    Rain
     Saturday       193.0                58.0    Nice
     Sunday          57.0                 9.0    Snow
5    Monday           5.0                 2.0     NaN
     Tuesday         10.0                 2.0    Rain
     Wednesday        6.0                 2.0    Snow
     Thursday        80.0                 5.0    Snow
     Friday           NaN                 NaN    Snow
     Saturday        98.0                12.0    Snow
     Sunday         185.0               116.0    Nice

In [37]:
SalesWeek4_5.dropna('index',subset = ['Airplanes', 'Imagination Sticks'])

                Airplanes  Imagination Sticks Weather
Week Day
4    Monday          89.0                16.0     NaN
     Tuesday         19.0                 7.0     NaN
     Wednesday      118.0                 5.0     NaN
     Thursday        29.0                40.0     NaN
     Friday          58.0                11.0    Rain
     Saturday       193.0                58.0    Nice
     Sunday          57.0                 9.0    Snow
5    Monday           5.0                 2.0     NaN
     Tuesday         10.0                 2.0    Rain
     Wednesday        6.0                 2.0    Snow
     Thursday        80.0                 5.0    Snow
     Saturday        98.0                12.0    Snow
     Sunday         185.0               116.0    Nice

In [38]:
SalesWeek4_5['Airplanes'].sum()

947.0

In [39]:
sum(SalesWeek4_5['Airplanes'])

nan

In [40]:
#SalesWeek4_5['Airplanes'].isin(58.0)

In [41]:
SalesWeek4_5['Airplanes'].mean()

72.84615384615384

In [42]:
CleanedSales = SalesWeek4_5.dropna()
CleanedSales

                Airplanes  Imagination Sticks Weather
Week Day
4    Friday          58.0                11.0    Rain
     Saturday       193.0                58.0    Nice
     Sunday          57.0                 9.0    Snow
5    Tuesday         10.0                 2.0    Rain
     Wednesday        6.0                 2.0    Snow
     Thursday        80.0                 5.0    Snow
     Saturday        98.0                12.0    Snow
     Sunday         185.0               116.0    Nice

In [43]:
SalesWeek4_5.loc('Wednesday')

In [44]:
SalesWeek4_5[['Airplanes', 'Imagination Sticks']].sum(level = 'Week')

      Airplanes  Imagination Sticks
Week
4         563.0               146.0
5         384.0               139.0

In [45]:
ZeroedSales = SalesWeek4_5.fillna(0)
ZeroedSales

                Airplanes  Imagination Sticks Weather
Week Day
4    Monday          89.0                16.0       0
     Tuesday         19.0                 7.0       0
     Wednesday      118.0                 5.0       0
     Thursday        29.0                40.0       0
     Friday          58.0                11.0    Rain
     Saturday       193.0                58.0    Nice
     Sunday          57.0                 9.0    Snow
5    Monday           5.0                 2.0       0
     Tuesday         10.0                 2.0    Rain
     Wednesday        6.0                 2.0    Snow
     Thursday        80.0                 5.0    Snow
     Friday           0.0                 0.0    Snow
     Saturday        98.0                12.0    Snow
     Sunday         185.0               116.0    Nice

In [46]:
ZeroedSales = SalesWeek4_5.fillna({})
ZeroedSales

                Airplanes  Imagination Sticks Weather
Week Day
4    Monday          89.0                16.0     NaN
     Tuesday         19.0                 7.0     NaN
     Wednesday      118.0                 5.0     NaN
     Thursday        29.0                40.0     NaN
     Friday          58.0                11.0    Rain
     Saturday       193.0                58.0    Nice
     Sunday          57.0                 9.0    Snow
5    Monday           5.0                 2.0     NaN
     Tuesday         10.0                 2.0    Rain
     Wednesday        6.0                 2.0    Snow
     Thursday        80.0                 5.0    Snow
     Friday           NaN                 NaN    Snow
     Saturday        98.0                12.0    Snow
     Sunday         185.0               116.0    Nice

In [47]:
ZeroedSales = SalesWeek4_5.fillna({'Airplanes':0, 'Imagination Sticks': 0, 'Weather':'Unknown'})
ZeroedSales

                Airplanes  Imagination Sticks  Weather
Week Day
4    Monday          89.0                16.0  Unknown
     Tuesday         19.0                 7.0  Unknown
     Wednesday      118.0                 5.0  Unknown
     Thursday        29.0                40.0  Unknown
     Friday          58.0                11.0     Rain
     Saturday       193.0                58.0     Nice
     Sunday          57.0                 9.0     Snow
5    Monday           5.0                 2.0  Unknown
     Tuesday         10.0                 2.0     Rain
     Wednesday        6.0                 2.0     Snow
     Thursday        80.0                 5.0     Snow
     Friday           0.0                 0.0     Snow
     Saturday        98.0                12.0     Snow
     Sunday         185.0               116.0     Nice

In [48]:
ZeroedSales.sum(level = ['Day'])

           Airplanes  Imagination Sticks
Day
Friday          58.0                11.0
Monday          94.0                18.0
Saturday       291.0                70.0
Sunday         242.0               125.0
Thursday       109.0                45.0
Tuesday         29.0                 9.0
Wednesday      124.0                 7.0

In [49]:
ZeroedSales.unstack()

     Airplanes                                                    \
Day     Friday Monday Saturday Sunday Thursday Tuesday Wednesday
Week
4         58.0   89.0    193.0   57.0     29.0    19.0     118.0
5          0.0    5.0     98.0  185.0     80.0    10.0       6.0

     Imagination Sticks                    ...                                \
Day              Friday Monday Saturday    ...    Thursday Tuesday Wednesday
Week                                       ...
4                  11.0   16.0     58.0    ...        40.0     7.0       5.0
5                   0.0    2.0     12.0    ...         5.0     2.0       2.0

     Weather
Day   Friday   Monday Saturday Sunday Thursday  Tuesday Wednesday
Week
4       Rain  Unknown     Nice   Snow  Unknown  Unknown   Unknown
5       Snow  Unknown     Snow   Nice     Snow     Rain      Snow

[2 rows x 21 columns]

In [50]:
ZeroedSales.stack()

Week  Day
4     Monday     Airplanes                  89
                 Imagination Sticks         16
                 Weather               Unknown
      Tuesday    Airplanes                  19
                 Imagination Sticks          7
                 Weather               Unknown
      Wednesday  Airplanes                 118
                 Imagination Sticks          5
                 Weather               Unknown
      Thursday   Airplanes                  29
                 Imagination Sticks         40
                 Weather               Unknown
      Friday     Airplanes                  58
                 Imagination Sticks         11
                 Weather                  Rain
      Saturday   Airplanes                 193
                 Imagination Sticks         58
                 Weather                  Nice
      Sunday     Airplanes                  57
                 Imagination Sticks          9
                 Weather                  Snow
5     Monday     Airplanes                   5
                 Imagination Sticks          2
                 Weather               Unknown
      Tuesday    Airplanes                  10
                 Imagination Sticks          2
                 Weather                  Rain
      Wednesday  Airplanes                   6
                 Imagination Sticks          2
                 Weather                  Snow
      Thursday   Airplanes                  80
                 Imagination Sticks          5
                 Weather                  Snow
      Friday     Airplanes                   0
                 Imagination Sticks          0
                 Weather                  Snow
      Saturday   Airplanes                  98
                 Imagination Sticks         12
                 Weather                  Snow
      Sunday     Airplanes                 185
                 Imagination Sticks        116
                 Weather                  Nice
dtype: object

In [51]:
ZeroedSales.sum(level = 'Day')

           Airplanes  Imagination Sticks
Day
Friday          58.0                11.0
Monday          94.0                18.0
Saturday       291.0                70.0
Sunday         242.0               125.0
Thursday       109.0                45.0
Tuesday         29.0                 9.0
Wednesday      124.0                 7.0

In [52]:
ZeroedSales.sum(level = 'Week')

      Airplanes  Imagination Sticks
Week
4         563.0               146.0
5         384.0               139.0

In [53]:
ZeroedSales.sum(level = ['Week', 'Day'])

                Airplanes  Imagination Sticks
Week Day
4    Friday          58.0                11.0
     Monday          89.0                16.0
     Saturday       193.0                58.0
     Sunday          57.0                 9.0
     Thursday        29.0                40.0
     Tuesday         19.0                 7.0
     Wednesday      118.0                 5.0
5    Friday           0.0                 0.0
     Monday           5.0                 2.0
     Saturday        98.0                12.0
     Sunday         185.0               116.0
     Thursday        80.0                 5.0
     Tuesday         10.0                 2.0
     Wednesday        6.0                 2.0

In [54]:
WeatherOnSales = ZeroedSales.set_index(['Weather'])
WeatherOnSales.sum(level = 'Weather')

         Airplanes  Imagination Sticks
Weather
Nice         378.0               174.0
Rain          68.0                13.0
Snow         241.0                28.0
Unknown      260.0                70.0

In [55]:
WeatherOnSales.mean(level = 'Weather')

         Airplanes  Imagination Sticks
Weather
Nice         189.0                87.0
Rain          34.0                 6.5
Snow          48.2                 5.6
Unknown       52.0                14.0

In [56]:
WeatherOnSales

         Airplanes  Imagination Sticks
Weather
Unknown       89.0                16.0
Unknown       19.0                 7.0
Unknown      118.0                 5.0
Unknown       29.0                40.0
Rain          58.0                11.0
Nice         193.0                58.0
Snow          57.0                 9.0
Unknown        5.0                 2.0
Rain          10.0                 2.0
Snow           6.0                 2.0
Snow          80.0                 5.0
Snow           0.0                 0.0
Snow          98.0                12.0
Nice         185.0               116.0

In [64]:
SalesWeek4_5['Junk'] = 4
SalesWeek4_5

                Airplanes  Imagination Sticks Weather  Junk
Week Day
4    Monday          89.0                16.0     NaN     4
     Tuesday         19.0                 7.0     NaN     4
     Wednesday      118.0                 5.0     NaN     4
     Thursday        29.0                40.0     NaN     4
     Friday          58.0                11.0    Rain     4
     Saturday       193.0                58.0    Nice     4
     Sunday          57.0                 9.0    Snow     4
5    Monday           5.0                 2.0     NaN     4
     Tuesday         10.0                 2.0    Rain     4
     Wednesday        6.0                 2.0    Snow     4
     Thursday        80.0                 5.0    Snow     4
     Friday           NaN                 NaN    Snow     4
     Saturday        98.0                12.0    Snow     4
     Sunday         185.0               116.0    Nice     4

In [65]:
SalesWeek4_5.drop(['Junk'], axis = 1)

                Airplanes  Imagination Sticks Weather
Week Day
4    Monday          89.0                16.0     NaN
     Tuesday         19.0                 7.0     NaN
     Wednesday      118.0                 5.0     NaN
     Thursday        29.0                40.0     NaN
     Friday          58.0                11.0    Rain
     Saturday       193.0                58.0    Nice
     Sunday          57.0                 9.0    Snow
5    Monday           5.0                 2.0     NaN
     Tuesday         10.0                 2.0    Rain
     Wednesday        6.0                 2.0    Snow
     Thursday        80.0                 5.0    Snow
     Friday           NaN                 NaN    Snow
     Saturday        98.0                12.0    Snow
     Sunday         185.0               116.0    Nice