In [1]:
import numpy as np
import pandas as pd

In [2]:
airplanes= pd.Series(
    [89, 19, 118, 29, 58, 193, 57])

In [3]:
airplanes

0     89
1     19
2    118
3     29
4     58
5    193
6     57
dtype: int64

In [4]:
ImagSticks = {'Mon': 16, 'Tue': 7, 'Wed': 5, 'Thu': 40, 'Fri':11, 'Sat': 58, 'Sun':9}

In [5]:
ImagSticks

{'Fri': 11, 'Mon': 16, 'Sat': 58, 'Sun': 9, 'Thu': 40, 'Tue': 7, 'Wed': 5}

In [6]:
sticks = pd.Series(ImagSticks)

In [7]:
sticks

Fri    11
Mon    16
Sat    58
Sun     9
Thu    40
Tue     7
Wed     5
dtype: int64

In [8]:
airplanes= pd.Series(
    [89, 19, 118, 29, 58, 193, 57],
    index=['Mon', 'Tue', 'Wed', 
           'Thu', 'Fri', 'Sat', 'Sun'])

In [9]:
airplanes

Mon     89
Tue     19
Wed    118
Thu     29
Fri     58
Sat    193
Sun     57
dtype: int64

In [10]:
airplanes['Fri']

58

In [11]:
airplanes[4]

58

In [12]:
airplanes[4:]

Fri     58
Sat    193
Sun     57
dtype: int64

In [13]:
airplanes[::-1]

Sun     57
Sat    193
Fri     58
Thu     29
Wed    118
Tue     19
Mon     89
dtype: int64

In [14]:
airplanes.name = 'Paper Airplanes'

In [15]:
airplanes.index.name = 'Day'

In [16]:
airplanes

Day
Mon     89
Tue     19
Wed    118
Thu     29
Fri     58
Sat    193
Sun     57
Name: Paper Airplanes, dtype: int64

In [17]:
airplanes*2.5

Day
Mon    222.5
Tue     47.5
Wed    295.0
Thu     72.5
Fri    145.0
Sat    482.5
Sun    142.5
Name: Paper Airplanes, dtype: float64

In [18]:
 airplanes*2.5 + sticks*4.25

Fri    191.75
Mon    290.50
Sat    729.00
Sun    180.75
Thu    242.50
Tue     77.25
Wed    316.25
dtype: float64

In [19]:
money = pd.Series(airplanes*2.5 + sticks*4.25, 
                  index=['Sun', 'Mon', 'Tue', 'Wed', 
           'Thu', 'Fri', 'Sat'])

In [20]:
money

Sun    180.75
Mon    290.50
Tue     77.25
Wed    316.25
Thu    242.50
Fri    191.75
Sat    729.00
dtype: float64

In [21]:
money.mean()

289.7142857142857

In [22]:
money.median()

242.5

In [23]:
money.sum()

2028.0

In [30]:
airData = {'Airplanes':airplanes.values} 
airData

{'Airplanes': array([ 89,  19, 118,  29,  58, 193,  57], dtype=int64)}

In [31]:
Week4 = pd.DataFrame(airData, columns = ['Airplanes', 'Sticks'], index = airplanes.index)
Week4

     Airplanes Sticks
Day
Mon         89    NaN
Tue         19    NaN
Wed        118    NaN
Thu         29    NaN
Fri         58    NaN
Sat        193    NaN
Sun         57    NaN

In [34]:
Week4['Sticks'] = sticks
Week4

     Airplanes  Sticks
Day
Mon         89      16
Tue         19       7
Wed        118       5
Thu         29      40
Fri         58      11
Sat        193      58
Sun         57       9

In [27]:
Week4['Airplanes']

Day
Mon     89
Tue     19
Wed    118
Thu     29
Fri     58
Sat    193
Sun     57
Name: Airplanes, dtype: int64

In [28]:
Week4['Airplanes']['Mon']

89

In [35]:
Week4.loc['Mon']

Airplanes    89
Sticks       16
Name: Mon, dtype: int64

In [37]:
Week4.loc['Mon']

Airplanes    89
Sticks       16
Name: Mon, dtype: int64

In [41]:
Week4['AirPrice'] = 2.5
Week4['StickPrice'] = 4.25

In [42]:
Week4

     Airplanes  Sticks  AirPrice  StickPrice
Day
Mon         89      16       2.5        4.25
Tue         19       7       2.5        4.25
Wed        118       5       2.5        4.25
Thu         29      40       2.5        4.25
Fri         58      11       2.5        4.25
Sat        193      58       2.5        4.25
Sun         57       9       2.5        4.25