In [1]:
import numpy as np
import pandas as pd
LemonadeStand = pd.read_csv('LemonadeStandWeekend.csv', index_col = ['Day', 'Time'])
LemonadeStand

             Kid  Sales  Donations  Lemonade By Cup  Cookies
Day Time
Sat 9       Bess  127.0          0             42.0     32.0
    10      Bess  103.0          0             34.0     26.0
    11     Nancy   37.0         32             12.0      9.0
    12     Nancy   30.0         17             10.0      8.0
    1     George  172.0         37             57.0     43.0
    2     George  107.0         34             36.0     27.0
    3        Ned   51.0          2             17.0     13.0
    4        Ned    NaN         45              NaN      NaN
Sun 9        Ned   12.0         30              4.0      3.0
    10       Ned    3.0         12              1.0      1.0
    11     Nancy  178.0         21             59.0     45.0
    12     Nancy   97.0         13             32.0     24.0
    1     George   75.0         17             25.0     19.0
    2     George   74.0         32             25.0     19.0
    3       Bess  104.0         20             35.0     26.0
    4       Bess   30.0         50              NaN     10.0

In [2]:
LemonadeDrop = LemonadeStand.dropna()

In [21]:
LemonadeDrop['Sales'].sum() + LemonadeDrop['Donations'].sum()

1437.0

In [11]:
LemonadeDrop['Sales'].max()

178.0

In [13]:
LemonadeDrop['Donations'].max()

37

In [14]:
LemonadeDrop['Sales'].min()

3.0

In [15]:
LemonadeDrop['Donations'].min()

0

In [16]:
LemonadeDrop['Sales'].mean()

83.57142857142857

In [17]:
LemonadeDrop['Donations'].mean()

19.071428571428573

In [18]:
LemonadeCleaned = LemonadeStand.fillna(0)

In [19]:
LemonadeCleaned

             Kid  Sales  Donations  Lemonade By Cup  Cookies
Day Time
Sat 9       Bess  127.0          0             42.0     32.0
    10      Bess  103.0          0             34.0     26.0
    11     Nancy   37.0         32             12.0      9.0
    12     Nancy   30.0         17             10.0      8.0
    1     George  172.0         37             57.0     43.0
    2     George  107.0         34             36.0     27.0
    3        Ned   51.0          2             17.0     13.0
    4        Ned    0.0         45              0.0      0.0
Sun 9        Ned   12.0         30              4.0      3.0
    10       Ned    3.0         12              1.0      1.0
    11     Nancy  178.0         21             59.0     45.0
    12     Nancy   97.0         13             32.0     24.0
    1     George   75.0         17             25.0     19.0
    2     George   74.0         32             25.0     19.0
    3       Bess  104.0         20             35.0     26.0
    4       Bess   30.0         50              0.0     10.0

In [20]:
LemonadeCleaned['Sales'].sum() + LemonadeCleaned['Donations'].sum()

1562.0

In [25]:
LemonadeCleaned['Sales'].min()

0.0

In [28]:
LemonadeCleaned.sum(level = 'Time')

      Sales  Donations  Lemonade By Cup  Cookies
Time
1     247.0         54             82.0     62.0
2     181.0         66             61.0     46.0
3     155.0         22             52.0     39.0
4      30.0         95              0.0     10.0
9     139.0         30             46.0     35.0
10    106.0         12             35.0     27.0
11    215.0         53             71.0     54.0
12    127.0         30             42.0     32.0